@font-face {
    font-family: Calibri; /* имя шрифта для CSS правил */
    src: local("Calibri"), /* проверяем наличие шрифта в ОС пользователя */
    url(/fonts/calibri.otf) format('opentype'); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
    font-family: 'Patrick-Hand';
    font-style: normal;
    src: local('Patrick Hand'), local('PatrickHand-Regular'), url(http://themes.googleusercontent.com/static/fonts/patrickhand/v7/9BG3JJgt_HlF3NpEUehL0HhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: Caviar-Dreams; /* имя шрифта для CSS правил */
    src: local("Caviar Dreams"), /* проверяем наличие шрифта в ОС пользователя */
    url(/fonts/CaviarDreams.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

@font-face {
    font-family: Bariol; /* имя шрифта для CSS правил */
    src: local("Bariol"), /* проверяем наличие шрифта в ОС пользователя */
    url(/fonts/bariol-regular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}