body {
    background: url("/images/texture_jelvix.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: 100% 100%;*/
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;

}
.wrap {
    margin: 0 auto;
    min-width: 1024px;
    max-width: 1024px;
}

.container {
    margin: 25px 5px 25px 5px;
    background: url("/images/background-main-container.png");
    width: 100%;
    float: left;
    border-radius: 20px;
    -moz-box-shadow:0px 0px 20px 1px #393939;
    -webkit-box-shadow:0px 0px 20px 1px #393939;
    box-shadow:0px 0px 20px 1px #393939;
    text-align: center;
}
.main-logo {
    background: url("/images/main-logo.png") no-repeat;
    margin: 38px 0 0 12px;
    float: left;
    width: 170px;
    height: 50px;

}
.logo-vertical-line {
    float: left;
    border-left: 2px solid #a5998b;
    margin: 32px 0 0 41px;
    height: 62px;
}
.it-solutions {
    float: left;
    margin: 40px 0 0 40px;
    color: white;
    font-family: Patrick-Hand;
    font-style: italic;
    font-size: 38px;
}

.header-request-container {
    float: right;
    margin: 10px 25px 0 0;
    width: 210px;
    height: 105px;

}

.request-phone-conteiner {
    background: url("/images/phone-request.png") no-repeat;
    height: 40px;
    float: left;
    color: #fff;
    font-size: 21px;
    padding: 10px 0 0 55px;
}

.request-button-container {
    
}
.request-button {
    background: url("/images/request-button-background.png") repeat-x;
    float: left;
    color: white;
    width: 205px;
    height: 50px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

.request-button:hover {
    background: url("/images/request-button-background-hover.png") repeat-x;
}

.request-button span {
    float: left;
    margin-top: 15px;
    font-size: 20px;
    font-family: Calibri, Arial;
}

.request-button-image {
    float: left;
    margin: 10px;
}

.header-menu-container {
    background: url("/images/background-head-menu.png");
    float: left;
    width: 100%;
    height: 52px;
    margin: 15px 0 0 0;
}

.header-menu-list {
    margin: 10px;
    float: right;
    list-style: none;
}

.header-menu-list-element {
    float: left;
}

.header-menu-list-element a {
    display: block;
    text-decoration: none;
    color: white;
    outline: none;
    font-family: Caviar-Dreams;
    font-size: 25px;
    padding: 0 5px 0 5px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.header-menu-list-element a:active {
    background: red;
}

.header-menu-list-element a:hover {
    background: #76e5c1;
}
/*************************************************************/

.content {
    /*height: 500px; */
    width: 100%;
    float: left;
    margin: 25px 0 12px 0;
}

.news-container {
    float: left;
    width: 100%;
}

.top-teeth-border-decorator {
    background: url("/images/top-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.bottom-teeth-border-decorator {
    background: url("/images/bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.news-list-container {
    float: left;
    background: url("/images/news-background.png");
    width: 100%;
}
.latest-news {
    margin-top: 50px;
}

.left-header-line {
    float: left;
    margin: 30px 0 0 40px;
}

.latest-news span {
    font-family: Bariol;
    font-size: 65px;
}

.right-header-line {
    float: right;
    margin: 30px 40px 0 0;
}

.news {
    float: left;
    margin: 65px 87px 0 87px;
}

.news h1 {
    margin: 0 0 10px 0;
}

.news h1 a {
    text-decoration: none;
    font-size: 30px;
    color: #3a81e9;
    font-family: Bariol;
}
.news h1 a:hover {
    color: #78dfbe;
}

.news .news-logo {
    margin-right: 50px;
    max-width: 277px;
    max-height: 183;
    float: left;
    border: 5px solid #76E5C1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.news p {
    margin: 0;
    text-align: justify;
    font-family: bariol;
    font-size: 28px;
}

.news-create-date {
    float: right;
    text-align: right;
    color: #909090;
    font-size: 22px;
    font-family: Bariol;
    width: 100%;
}

/*******pagination********/
.pagination-container {
    margin: 0 auto;
    width: 380px;
}

.pagination-container .pagination {
    margin: 10px 0px 50px 0px;
    float: left;
}
.prev-pagination {
    background: url("/images/pagination-button.png") no-repeat scroll 0 0 transparent;
    color: white;
    margin-right: 5px;
    display: block;
    float: left;
    font-size: 22px;
    height: 40px;
    text-decoration: none;
    width: 80px;
}
.active-page {
    margin: 0 5px 0 5px;
    float: left;
    display: block;
    background-image: url("/images/pagination-button.png");
    background-position: 129px 0;
    font-size: 20px;
    font-family: Bariol;
    color: white;
    text-decoration: none;
    width: 42px;
    height: 42px;
}

.not-active-page {
    margin: 0 5px 0 5px;
    float: left;
    display: block;
    background-image: url("/images/pagination-button.png");
    background-position: 129px 0;
    font-size: 20px;
    font-family: Bariol;
    color: white;
    text-decoration: none;
    width: 42px;
    height: 42px;
}
.pagination-text-decorator {
    margin-top: 11px;
}

.next-pagination {
    background: url("/images/pagination-button.png") no-repeat scroll -122px 0 transparent;
    color: white;
    margin-left: 5px;
    display: block;
    float: left;
    font-size: 22px;
    height: 40px;
    text-decoration: none;
    width: 82px;
}

.next-pagination .pagination-text-decorator {
    margin-top: 7px;
}

.prev-pagination .pagination-text-decorator {
    margin: 7px 0 0 7px;
}

/**************Footer********************/

.footer {
    float: left;
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
}

.footer-list-container {
    float: left;
}

.footer-list {
    float: left;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 20px;
}

.footer-list li {
    color: #fff;
    font-family: Caviar-Dreams;
    font-size: 22px;
}

.or-call-use {
    font-family: Calibri;
    font-style: italic;
    font-size: 22px;
    color: #FFF;
    float: left;
    margin: 10px 0 0 5px;
}
.copyriting-informations {
    float: left;
    width: 100%;
    color: #FFF;
    font-family: Caviar-Dreams;
    font-size: 16px;
}

.copyriting-informations ul {
    margin-top: 30px;
    list-style: none;
}

.copyriting-informations ul li:first-child {
    font-size: 18.5px;
}

.news-show-title {
    margin: 50px 50px 30px 50px;
    text-align: left;
    float: left;
    width: 100%;
    font-size: 40px;
    color: #3A81E9;
    font-family: Bariol;
}

.news-show-date {
    margin: 0px 0px 20px 50px;
    width: 100%;
    float: left;
    text-align: left;
    color: #909090;
    font-size: 22px;
    font-family: Bariol;
}

.news-show-img {
    border: 5px solid #76E5C1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    max-width: 800px;
    max-height: 500px;
}

.news-show-text {
    margin: 40px 50px 50px 50px;
    float: left;
    text-align: left;
    font-family: bariol;
    font-size: 28px;
}

/*****************Services**********************/

.cervices-list-container {
    float: left;
    list-style: none;
    padding: 0;
}

.cervices-list-container .services-list-element {
    float: left;
    margin-left: 18px;
    width: 233px;
}

.services-list-element-container {
    float: left;
    list-style: none;
    padding: 0;
}

.services-container {
    float: left;
    width: 100%;

}

.services-container .top-teeth-border-decorator {
    float: left;
    background: url("/images/services/services-top-teeth-border-decorator.png") repeat-x;
    height: 11px;
    width: 100%;
}

.services-container .services-list-container {
    float: left;
    background: #e9e2e4;
    width: 100%;
}

.services-container .bottom-teeth-border-decorator {
    background: url("/images/services/services-bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.services-category-filter-buttons {
    margin: 0 auto;
    width: 560px;
    list-style: none;
}

.services-category-filter-buttons .services-filter-button {
    float: left;
    margin: 30px 20px 0 0;
    width: 120px;
    height: 29px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.services-category-filter-buttons .services-filter-button:hover {
    background: url("/images/services/services-sprites.png");
    background-position: 1px 58px;
}

.services-category-filter-buttons .services-filter-button a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin-top: 4px;
    font-family: Calibri;
    font-size: 20px;
    outline: none;
}

.services-category-filter-buttons .architect {
    background: url("/images/services/services-sprites.png");
}

.services-category-filter-buttons .design {
    background: url("/images/services/services-sprites.png");
    background-position: 1px 145px;
}

.services-category-filter-buttons .development {
    background: url("/images/services/services-sprites.png");
    background-position: 0px 116px;
}

.services-category-filter-buttons .grow {
    background: url("/images/services/services-sprites.png");
    background-position: 0px 87px;
}

.services-list-container .horizontal-line-container {
    margin: 0 auto;
    width: 100%;
    float: left;
}

.services-list-container .horizontal-line-container hr {
    height: 0.5px;
    width: 70%;
    margin-top: 20px;
    background: #5E5E5E;
}

.services-entity-container {
    float: left;
    width: 233px;
}

.services-entity-container .sevices-entity {
    float: left;
    cursor: pointer;
}

.services-entity-container .border-top {
    float: left;
    width: 233px;
    height: 30px;
}

.services-entity-container .cervices-entity-body {
    float: left;
    width: 233px;
}

.services-entity-container .cervices-entity-head {
    font-size: 21px;
    margin: 15px;
    color: #FFF;
}

.services-entity-container .entity-text {
    float: left;
    margin: 0 20px 15px 20px;
    text-align: left;
    font-family: Bariol;
    font-size: 18px;
}


.services-entity-container .border-bottom {
    float: left;
    width: 233px;
    height: 35px;
}

.category-architect-top {
    background: url("/images/services/flag.png") no-repeat;
    background-position: 0px 0px;
}

.category-architect-body {
    background: url("/images/services/architect-body.png");
    background-position: -2px -417px;
}

.category-architect-bottom {
    background: url("/images/services/flag.png");
    background-position: 0px 340px;

}


.category-design-top {
    background: url("/images/services/flag.png");
    background-position: 0px 210px;
}

.category-design-body {
    background: url("/images/services/design-body.png");
    background-position: -2px -417px;
}

.category-design-bottom {
    background: url("/images/services/flag.png");
    background-position: 0px 160px;
}

.category-development-top {
    background: url("/images/services/flag.png");
    background-position: 0px 303px;
}

.category-development-body {
    background: url("/images/services/development-body.png");
    background-position: -2px -417px;
}

.category-development-bottom {
    background: url("/images/services/flag.png");
    background-position: 0px 255px;
}

.category-grow-top {
    background: url("/images/services/flag.png");
    background-position: 0px 127px;
}

.category-grow-body {
    background: url("/images/services/grow-body.png");
    background-position: -2px -417px;
}

.category-grow-bottom {
    background: url("/images/services/flag.png");
    background-position: 0px 465px;
}
/************************Projects*********************/


.projects-container {
    float: left;
    width: 100%;
}

.projects-container .top-teeth-border-decorator {
    float: left;
    background: url("/images/services/services-top-teeth-border-decorator.png") repeat-x;
    height: 11px;
    width: 100%;
}

.projects-list-container {
float: left;
background: #E9E2E4;
width: 100%;
    }


.projects-container .bottom-teeth-border-decorator {
    background: url("/images/services/services-bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.projects-menu-list {
    list-style: none;
    margin: 0 auto;
    width: 385px;
}

.projects-menu-list .button {
    float: left;
    background: url("/images/services/services-sprites.png");
    background-position: 0px 87px;
    margin: 30px 20px 0 0;
    height: 29px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.projects-menu-list .button:hover {
    float: left;
    background: url("/images/services/services-sprites.png");
    background-position: 0px 58px;
}

.projects-menu-list .button a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 4px 10px 0 10px;
    font-family: Calibri;
    font-size: 20px;
    outline: none
}

.horizontal-line-container {
    margin: 0 auto;
    width: 100%;
    float: left;
}

.horizontal-line-container hr {
    height: 0.5px;
    width: 70%;
    margin-top: 20px;
    background: #5E5E5E;
}

/*Sliders*/

.main-slider {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.project-list-page {
    padding: 0;
    float: left;
    list-style: none;
}

.slide-page {
    float: left;
    margin: 0 10px 0 10px;
    width: 1004px;
    height: 990px;
}

.project-list-element {
    float: left;
    list-style: none;
    margin: 15px 22px 15px 32px;
}

.slidesPagination {
    list-style: none;
}

.slidesPagination  li {
    float: left;
}

.slidesPrevious {
    background: url("/images/projects/sliders-sprite.png");
    background-position: 0 -191px;
    position: absolute;
    height: 94px;
    width: 94px;
    left: 10px;
    top: 780px;
    outline: none;
}

.slidesNext {
    background: url("/images/projects/sliders-sprite.png");
    background-position: 0 215px;
    position: absolute;
    height: 94px;
    width: 94px;
    right: 10px;
    top: 780px;
    outline: none;
}

.slidesPrevious:hover {
    background-position: 0 0px;
}

.slidesNext:hover {
    background-position: 0 118px;
}

.slidesPagination {
    margin: 0 auto;
    width: 95px;
}

.slidesPagination li {
    margin: 5px 7px 25px 0;
}

.slidesPagination li a {
    background: url("/images/projects/sliders-sprite.png");
    background-position: -19px 17px;
    width: 15px;
    height: 15px;
    display: block;
    outline: none;
}

.slidesPagination .slidesCurrent a {
    background-position:   -1px 17px;
}

.sliderButtonPrevious {
    background-position: -1px -97px;
}

.sliderButtonNext {
    background-position: -1px 310px;
}

.sliderButtonPrevious:hover {
    background-position: -1px -97px;
}

.sliderButtonNext:hover {
    background-position: -1px 310px;
}

.project-shadow {
    background-color: rgba(255, 255, 255, 0);
    float: left;
    width: 260px;
    height: 260px;
    border-radius: 130px;
    box-shadow: 0px 1px 32px 2px rgba(75, 75, 75, 0.93);
}

/*********************Show project***********************/

.show-project-title {
    font-family: Bariol;
    font-size: 36px;
    margin: 20px 0;
}

.show-project-photo {
    border: 4px solid #78DFBE;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.75);
}

.show-project-description-static {
    text-align: left;
    float: left;
    font-family: Bariol;
    font-size: 36px;
    margin: 50px 0px 20px 30px;
    width: 500px;
}

.show-project-description {
    font-family: Bariol;
    font-size: 22px;
    text-align: left;
    margin: 0 40px 40px 40px;
    float: left;
}

.link-to-container {
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.link-to-container a {
    outline:none;
}

/********404********************/

.container-404 {
    margin: 100px 100px;
    width: 80%;
    float: left;
    border-radius: 20px;
    -moz-box-shadow:0px 0px 10px 1px #393939;
    -webkit-box-shadow:0px 0px 10px 1px #393939;
    box-shadow:0px 0px 10px 1px #393939;
    text-align: center;
}

.container-404 img {
    margin: 40px;
    float: left;
    max-height: 300px;
}

.head-404 {
    font-family: Bariol;
    font-size: 32px;
    width: 65%;
    margin: 80px 0 0 0;
    float: left;
}

.start-over {
    margin-top: 30px;
    float: left;
    font-family: Bariol;
    font-size: 18px;
    width: 65%;
}

.start-over a {
    color: #4ab6d2;
}

/**************about*********************/

.about-container {
    float: left;
    width: 100%;
}

.about-container .top-teeth-border-decorator {
    float: left;
    background: url("/images/services/services-top-teeth-border-decorator.png") repeat-x;
    background-position: 0px -1px;
    height: 9px;
    width: 100%;
}

.about-container .bottom-teeth-border-decorator {
    background: url("/images/services/services-bottom-teeth-border-decorator.png") repeat-x;
    background-position: 0px -1px;
    float: left;
    height: 9px;
    width: 100%;
}

.main-about-container {
    float: left;
    border-top: 1px solid #E9E2E4;
    border-bottom: 1px solid #E9E2E4;
    background: #E9E2E4;
    width: 100%;
}

.about-left-container {
    float: left;
    min-width: 600px;
    max-width: 750px;
}

.about-right-container {
    float: right;
}

.top-image {
    float: left;
    margin: 0 20px;
}

.about-left-container .content-container {
    float: left;
    margin: 20px 0;
    border-right: 1px solid #000;
}

.about-header {
    max-width: 750px;
    width: 50px;
    float: left;
    width: 100%;
    margin: 20px 0;
    background: #e6d5c1;
}

.about-header .text {
    float: left;
    color: #726863;
    margin: 10px 0 5px 20px;
    text-align: left;
    font-size: 32px;
    font-family: Calibri;
}

.header-decorator {
    position: relative;
    width: 20px;
    left: -20px;
    top: 10px;
    height: 60px;
    background: #E6D5C1;
    z-index: -1;
}

.presents-list {
    float: left;
    margin: 10px 0 10px 0;
}

.presents-list .element {
    text-align: left;
    font-family: Calibri;
    font-size: 20px;
    float: left;
    width: 610px;
}

.presents-list img {
    float: left;
    margin-left: 40px;
}

.presents-list .one {
    margin: 55px 0px 0px -40px;
}

.presents-list .two {
    margin: 30px 0px 0px -40px;
}

.presents-list .three {
    margin: 30px 0px 0px -40px;
}

.presents-list .four {
    margin: 15px 0px 0px -40px;
}

.presents-list .five {
    margin: 20px 0px 0px -40px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .presents-list .one {
        margin: 55px 0px 0px -40px;
    }

    .presents-list .two {
        margin: 15px 0px 0px -40px;
    }

    .presents-list .three {
        margin: 15px 0px 0px -40px;
    }

    .presents-list .four {
        margin: 15px 0px 0px -40px;
    }

    .presents-list .five {
        margin: 15px 0px 0px -40px;
    }
}

.about-header2 {
    max-width: 750px;
    width: 50px;
    float: left;
    width: 100%;
    margin: 20px 0 40px 0;
    background: #e6d5c1;
}

.about-header2 .text {
    float: left;
    color: #726863;
    margin: 10px 0 5px 20px;
    text-align: left;
    font-size: 28px;
    line-height: 28px;
    font-family: Calibri;
}

.about-header2 .header-decorator {
    position: relative;
    width: 20px;
    left: -20px;
    top: 10px;
    height: 100px;
    background: #E6D5C1;
    z-index: -1;
}

.our-team {
    margin-top: 50px;
}

.our-team .left-header-line {
    float: left;
    margin: 15px 0 0 40px;
}

.our-team span {
    font-family: Bariol;
    font-size: 40px;
}

.our-team .right-header-line {
    float: right;
    margin: 15px 40px 0 0;
}

.team {
    float: left;
    padding: 0;
    list-style: none;
}

.team-element {
    float: left;
    margin-left: 13px;
}

.cooperations-models {
    list-style: none;
    padding: 0;
    float: right;
    width: 245px;
}

.cooperations-models .top-decorator {
    width: 240px;
    height: 45px;
    background: url('/images/about/coop-decor.png');
}

.cooperations-models .bottom-decorator {
    float: left;
    width: 240px;
    height: 45px;
    background: url('/images/about/coop-decor.png');
    background-position: 1px 45px;
}
.cm {
    font-family: Calibri;
    font-size: 22px;
    margin-right: 10px;
}

.model-element {
    float: left;
    margin: 15px 0 0px 15px;
    width: 210px;
    border-bottom: 1px dotted #000000;

}

.model-element:nth-last-child(2) {
    border-bottom: 0px;
}

.model-element .coop-header {
    text-decoration: underline;
    padding-top: 5px;
    margin: 0px 0px 15px 0px;
    font-family: Calibri;
    font-size: 16px;
    background: #76E5C1;
}

.model-element .coop-content {
    color: #2E2E2E;
    float: left;
    text-align: center;
    font-family: Calibri;
    font-size: 14px;
    margin-bottom: 5px;
}

.last-five-news-container {
    position: relative;
    top: -9px;
    width: 233px;
    height: 340px;
    background: #FFF;
    border: 1px solid #989495;
}

.last-five-news-container .arrow-top {
    width: 0;
    height: 0;
    position: relative;
    left: 77px;
    top: -28px;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 28px solid #FFF;
}

.five-news-list {
    position: relative;
    top: -35px;
    list-style: none;
    padding: 0;
}

.small-news-element {
    margin: 0px 10px 0px 10px;
    width: 212px;
    height: 63px;
    background: #F5F6F7;
    border-bottom: 1px solid #DFE5EB;
}

.small-news-element:last-child {
    border-bottom: 0px;
}

.small-news-element a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: left;
    font-family: Calibri;
    font-size: 18px;
    padding: 5px;
}

.last-five-news-shadow {
    margin-bottom: 35px;
    width: 235px;
    height: 320px;
    border-radius: 130px;
    box-shadow: 0px 1px 15px 2px rgba(75, 75, 75, 0.93);
}

/*****************main*********************/

.main-page-container {

}

.main-page-container .top-container {
    float: left;
    background: #FFF;
    width: 100%;
}

.main-page-container .bottom-container {
    position: relative;
    top: -11px;
    width: 100%;
    float: left;
}

.main-page-container .top-teeth-border-decorator {
    float: left;
    background: url("/images/services/services-top-teeth-border-decorator.png") repeat-x;
    height: 11px;
    width: 100%;
}

.main-page-container .bottom-teeth-border-decorator {
    background: url("/images/services/services-bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.success-main {
    margin-top: 10px;
}

.success-main .left-header-line {
    float: left;
    margin: 15px 0 0 40px;
}

.success-main span {
    font-family: Bariol;
    font-size: 34px;
}

.success-main .right-header-line {
    float: right;
    margin: 15px 40px 0 0;
}

.main-image img {
    margin-bottom: 40px;
}

.bottom-main-container {
    float: left;
    width: 100%;
    background: #E9E2E4;
}

.main-bottom-header {
    float: left;
    width: 100%;
    margin: 20px 0;
    background: #E6D5C1;
}

.main-bottom-header .text {
    float: left;
    color: #726863;
    margin: 10px 0 5px 20px;
    text-align: center;
    font-size: 32px;
    font-family: Calibri;
    width: 100%;
}

.main-page-container .header-decorator {
    position: relative;
    width: 20px;
    left: -20px;
    top: 10px;
    height: 60px;
    background: #E6D5C1;
    z-index: -1;
}

.recent-projects-container {
    float: left;
    width: 100%;
}

.recent-projects-list {
    list-style: none;
    padding: 0;
}

.project-element {
    margin: 0 0 40px 40px;
    width: 300px;
    float: left;
}

.project-element .project {
    float: left;
}

.review-container {
    margin: 40px 0 0 0;
    float: left;
}

.review-text-container {
    background: #FFF;
    float: left;
    width: 260px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 12px 0px;
}

.review-decorator {
    position: relative;
    top: -20px;
    left: 40px;
    float:left;
    background: url('/images/circles.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 32px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .review-decorator {
        position: relative;
        top: -20px;
        left: 40px;
        float:left;
        background: url('/images/circles.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 32px;
    }
}

.review-text-container .text {
    padding: 10px 10px 10px 10px;
    font-family: Calibri;
}

.user-info-container {
    top: -10px;
    position: relative;
    text-align: left;
    float: left;
    width: 100%;
}

.user-info-container img {
    margin-right: 15px;
    border: 3px solid #FFF;
    float: left;
    width: 36px;
    height: 36px;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

.user-info-container .user-name {
    font-family: Calibri;
}

.user-info-container .project-name a {
    font-family: Calibri;
    text-decoration: none;
    color: #377EE9;
}