body {
    margin: 0;
    background: url("/images/texture_jelvix.jpg");
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: 100% 100%;*/
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.wrap {
    position: relative;
    z-index: -2;
    float: left;
    width: 100%;


    /*min-height: 800px;*/
    /*max-height: 4024px;*/
}
.main {
    margin: 0 auto;
    width: 1024px;
}

.container {
    margin: 25px 0px 100px 0px;
    background: rgba(0, 0, 0, 0.63);
    width: 100%;
    float: left;
    border-radius: 20px;
    -moz-box-shadow:0px 0px 20px 1px #393939;
    -webkit-box-shadow:0px 0px 20px 1px #393939;
    box-shadow:0px 0px 20px 1px #393939;
    text-align: center;
}
.main-logo {
    background: url("/images/main-logo.png") no-repeat;
    float: left;
    width: 225px;
    height: 120px;
    background-position: 18px;
}

.logo-vertical-line {
    float: left;
    border-left: 2px solid #a5998b;
    margin: 32px 0 0 0px;
    height: 62px;
}
.it-solutions {
    float: left;
    margin: 40px 0 0 40px;
    color: white;
    font-family: Patrick-Hand;
    font-style: italic;
    font-size: 38px;
}

.header-request-container {
    float: right;
    margin: 10px 25px 0 0;
    width: 210px;
    height: 105px;

}

.request-phone-conteiner {
    background: url("/images/phone-request.png") no-repeat;
    height: 40px;
    float: left;
    color: #fff;
    font-size: 21px;
    padding: 10px 0 0 55px;
}

.request-button {
    background: url("/images/request_buttons.png");
    float: left;
    color: white;
    width: 213px;
    height: 60px;
    outline: none;
    text-decoration: none;
}

.request-button:hover {
    background: url("/images/request_buttons.png");
    background-position: -1px -62px;
}

.request-button span {
    float: left;
    margin-top: 15px;
    margin-left: 55px;
    font-size: 20px;
    font-family: Calibri, Arial;
}

.request-button-image {
    float: left;
    margin: 10px;
}

.header-menu-container {
    background: url("/images/background-head-menu.png");
    float: left;
    width: 100%;
    height: 52px;
    margin: 15px 0 0 0;
}

.header-menu-list {
    margin: 10px;
    float: right;
    list-style: none;
}

.header-menu-list-element {
    float: left;
}

.header-menu-list-element a {
    position: relative;
    top: -1.5px;
    display: block;
    text-decoration: none;
    color: white;
    outline: none;
    font-family: "Caviar-Dreams";
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.header-menu-list-element a:active {
    background: red;
}

.header-menu-list-element a:hover {
    background: #76e5c1;
    color: #000;
}
/*************************************************************/

.content {
    /*height: 500px; */
    width: 100%;
    float: left;
    margin: 25px 0 0px 0;
}

.news-container {
    float: left;
    width: 100%;
}

.news {
    width: 83%;
    text-align: left;
}

.news p div {
    text-align: left;
}

.news-container .top-teeth-border-decorator {
    background: url("/images/news/top-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 22px;
    width: 100%;
}

.news-container .bottom-teeth-border-decorator {
    background: url("/images/news/bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 22px;
    width: 100%;
}

.news-list-container {
    float: left;
    background: url("/images/news-background.png");
    width: 100%;
}
.latest-news {
    margin-top: 50px;
}

.left-header-line {
    float: left;
    margin: 30px 0 0 40px;
}

.latest-news span {
    font-family: Bariol;
    font-size: 65px;
}

.right-header-line {
    float: right;
    margin: 30px 40px 0 0;
}

.news {
    float: left;
    margin: 65px 87px 0 87px;
}

.news h1 {
    text-align: left;
    margin: 0 0 10px 0;
}

.news h1 a {
    text-decoration: none;
    font-size: 30px;
    color: #3a81e9;
    font-family: Bariol;
}
.news h1 a:hover {
    color: #78dfbe;
}

.news .news-logo {
    margin-right: 50px;
    max-width: 277px;
    max-height: 183;
    float: left;
    border: 5px solid #76E5C1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.news p {
    margin: 0;
    text-align: justify;
    font-family: bariol;
    font-size: 28px;
}

.news-create-date {
    float: right;
    text-align: right;
    color: #909090;
    font-size: 22px;
    font-family: Bariol;
    width: 100%;
}

/*******pagination********/
.pagination-container {
    margin: 0 auto;
    padding-bottom: 25px;
}

.pagination-container .pagination {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 25px auto 0;
}

.pagination li {
    float: left;
}

.prev-pagination {
    background: url("/images/news/pagination-buttons.png");
    background-repeat: no-repeat;
    background-position: 0px -5px;
    color: #FFF;
    margin-right: 5px;
    display: block;
    float: left;
    font-size: 22px;
    height: 41px;
    text-decoration: none;
    width: 85px;
}

.prev-pagination:hover {
    background-position: 0px -48px;
}

.prev-no-active {
    background-position: 0px -92px;
}

.prev-no-active:hover {
    background-position: 0px -92px;
}

.active-page {
    margin: 0 5px 0 5px;
    float: left;
    display: block;
    background-image: url("/images/news/pagination-buttons.png");
    background-position: 0px 131px;
    font-size: 20px;
    font-family: Bariol, 'sans-serif';
    color: #FFF;
    text-decoration: none;
    width: 42px;
    height: 41px;
}

.active-page:hover {
    background-position: 0px 89px;
}

.not-active-page {
    background-position: 0px 47px;
}

.not-active-page:hover {
    background-position: 0px 47px;
}

.pagination-text-decorator {
    font-family: Calibri;
    margin-top: 7px;
}

.next-pagination {
    background: url("/images/news/pagination-buttons.png");
    background-repeat: no-repeat;
    background-position: 0px -138px;
    color: #FFF;
    margin-left: 5px;
    display: block;
    float: left;
    font-size: 22px;
    height: 40px;
    text-decoration: none;
    width: 82px;
}

.next-not-active {
    background-position: 0px -224px;
}

.next-pagination:hover {
    background-position: 0px -181px;
}

.next-not-active:hover {
    background-position: 0px -224px;
}

.next-pagination .pagination-text-decorator {
    margin: 0px 15px 0 0;
    font-family: Calibri;
    font-size: 27px;
}

.prev-pagination .pagination-text-decorator {
    margin: 0px 0px 0px 6px;
    font-family: Calibri;
    font-size: 28px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .pagination-text-decorator {
        margin-top: 7px;
        font-family: Calibri;
    }

    .next-pagination .pagination-text-decorator {
        font-family: Calibri;
        margin: 0px 15px 0 0;
    }

    .prev-pagination .pagination-text-decorator {
        margin: 0px 0px 0px 6px;
        font-family: Calibri;
        font-size: 28px;
    }
}

/**************Footer********************/

.footer {
    padding-top: 12px;
    float: left;
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
}

.footer-list-container {
    float: left;
}

.footer-list {
    float: left;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 20px;
}

.footer-list li {
    color: #fff;
    font-family: "Caviar-Dreams";
    font-size: 22px;
}

.footer-list a {
    text-decoration: none;
    color: #fff;
}

.footer-list a:hover {
    text-shadow: 0px 0px 16px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=0);
}

.or-call-use {
    font-family: Calibri;
    font-style: italic;
    font-size: 22px;
    color: #FFF;
    float: left;
    margin: 10px 0 0 5px;
}
.copyriting-informations {
    float: left;
    width: 100%;
    color: #FFF;
    font-family: Caviar-Custom;
    font-size: 16px;
}

.copyriting-informations ul {
    padding: 0 0 20px 0;
    margin-top: 30px;
    list-style: none;
}

.copyriting-informations ul li:first-child {
    font-size: 17.5px;
}

.copyriting-informations ul li:last-child {
    line-height: 24px;
    font-size: 15px;
}

.news-show-title {
    margin: 50px 50px 30px 80px;
    text-align: left;
    float: left;
    width: 100%;
    font-size: 40px;
    color: #3A81E9;
    font-family: Bariol;
}

.news-show-date {
    margin: 0px 0px 20px 80px;
    width: 100%;
    float: left;
    text-align: left;
    color: #909090;
    font-size: 22px;
    font-family: Bariol;
}

.news-show-img {
    border: 5px solid #76E5C1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    max-width: 800px;
    max-height: 500px;
}

.news-show-text {
    margin: 50px 80px 50px 80px;
    width: 85%;
    float: left;
    text-align: left;
    font-family: bariol;
    font-size: 28px;
}

/*****************Services**********************/

.cervices-list-container {
    float: left;
    list-style: none;
    padding: 0;
}

.cervices-list-container .services-list-element {
    float: left;
    margin-left: 18px;
    width: 233px;
}

.services-list-element-container {
    float: left;
    list-style: none;
    padding: 0;
}

.services-container {
    float: left;
    width: 100%;

}

.top-teeth-border-decorator {
    float: left;
    background: url("/images/services/services-top-teeth-border-decorator.png") repeat-x;
    height: 18px;
    width: 100%;
    position: relative;
    top: 1px;
}

.services-container .services-list-container {
    float: left;
    background: #e9e2e4;
    width: 100%;
}

.bottom-teeth-border-decorator {
    background: url("/images/services/services-bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 18px;
    width: 100%;
    position: relative;
    top: -2px;
}

.services-category-filter-buttons {
    margin: 0 auto;
    width: 580px;
    list-style: none;
}

.services-category-filter-buttons .services-filter-button {
    float: left;
    margin: 30px 20px 0 0;
    width: 120px;
    height: 29px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.services-category-filter-buttons .services-filter-button:hover {
    background: url("/images/services/services-sprites.png");
    background-position: 0px 145px;
    color: #586a85;
}

/*.services-category-filter-buttons .services-filter-button a:hover {*/
    /*color: #586a85;*/
/*}*/

.services-category-filter-buttons .services-filter-button a {
    outline: none;
}

.services-category-filter-buttons .services-filter-button.active {
    background: url("/images/services/services-sprites.png");
    background-position: 1px 29px;
}

.services-category-filter-buttons .services-filter-button.active:hover {
    background: url("/images/services/services-sprites.png");
    background-position: 1px 29px;
}

.services-category-filter-buttons .services-filter-button a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: Calibri;
    font-size: 20px;
    outline: none;
}

.services-category-filter-buttons .architect {
    background: url("/images/services/services-sprites.png");
}

.services-category-filter-buttons .design {
    background: url("/images/services/services-sprites.png");
    background-position: 0px -29px;
}

.services-category-filter-buttons .design:hover {
    background-position: 0px 116px;
}

.services-category-filter-buttons .development {
    background: url("/images/services/services-sprites.png");
    background-position: 0px -58px;
}

.services-category-filter-buttons .development:hover {
    background-position: 0px 87px;
}

.services-category-filter-buttons .grow {
    background: url("/images/services/services-sprites.png");
    background-position: 0px -87px;
}

.services-category-filter-buttons .grow:hover {
    background-position: 0px 58px;
}

.services-list-container .horizontal-line-container {
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    float: left;
}

.horizontal-line {
    margin: 0 auto;
    width: 80%;
    border-bottom: 1px solid rgb(253, 253, 253);
    border-top: 1px solid rgb(134, 134, 134);
}

.services-entity-container {
    float: left;
    width: 233px;
}

.services-entity-container .sevices-entity {
    font-family: Bariol;
    float: left;
    cursor: pointer;
}

.fulltext {
    display: none;
}

.fulltext.hover {
    color: #fff;
}

.small-text.hover {
    color: #fff;
}

.services-entity-container .border-top {
    float: left;
    width: 233px;
    height: 30px;
}

.services-entity-container .cervices-entity-body {
    float: left;
    width: 234px;
}

.services-entity-container .cervices-entity-head {
    font-size: 21px;
    margin: 15px;
    color: #FFF;
    font-weight: bold;
}

.services-entity-container .entity-text {
    float: left;
    margin: 0 20px 15px 20px;
    text-align: left;
    font-family: Bariol;
    font-size: 19px;
}


.services-entity-container .border-bottom {
    float: left;
    width: 233px;
    height: 35px;
}


.category-architect-top {
    background: url("/images/services/flags.png") no-repeat;
    background-position: 0px -74px;
}

.category-architect-body {
    background: url("/images/services/flags-center.png");
    background-position: -234px 0px;
}

.category-architect-bottom {
    background: url("/images/services/flags.png");
    background-position: 0px -115px;

}

/*hover architect*/

.category-architect-top.hover {
    background-position: 0px -358px;
}

.category-architect-body.hover {
    background-position: -1204px 0;
}

.category-architect-bottom.hover {
    background-position: 0px -394px;
}

/*design*/

.category-design-top {
    background: url("/images/services/flags.png");
    background-position: 0px -148px;
}

.category-design-body {
    background: url("/images/services/flags-center.png");
    background-position: -475px 0;
}

.category-design-bottom {
    background: url("/images/services/flags.png");
    background-position: 0px -179px;
}

/*hover design*/

.category-design-top.hover {
    background-position: 0px 168px;
}

.category-design-body.hover {
    background-position: -1455px 0;
}

.category-design-bottom.hover {
    background-position: 0px -469px;
}

/*development*/

.category-development-top {
    background: url("/images/services/flags.png");
    background-position: 0px 0px;
}

.category-development-body {
    background: url("/images/services/flags-center.png");
    background-position: 1px 0px;
}

.category-development-bottom {
    background: url("/images/services/flags.png");
    background-position: 0px -40px;
}

/*hover development*/

.category-development-top.hover {
    background: url("/images/services/flags.png");
    background-position: 0px 316px;
}

.category-development-body.hover {
    background-position: 1037.5px 0px;
}

.category-development-bottom.hover {
    background: url("/images/services/flags.png");
    background-position: 0px 276px;
}

/*grow*/

.category-grow-top {
    background: url("/images/services/flags.png");
    background-position: 0px -812px;
}

.category-grow-body {
    background: url("/images/services/flags-center.png");
    background-position: -718px 0px;
}

.category-grow-bottom {
    background: url("/images/services/flags.png");
    background-position: 0px -847px;
}

/*hover grow*/

.category-grow-top.hover {
    background-position: 0px -509px;
}

.category-grow-body.hover {
    background-position: -1699px 0px;
}

.category-grow-bottom.hover {
    background: url("/images/services/flags.png");
    background-position: 0px -550px;
}

/************************Projects*********************/


.projects-container {
    float: left;
    width: 100%;
}

.projects-list-container {
    float: left;
    background: #E9E2E4;
    width: 100%;
}

.projects-list-container p {
    margin: 5px;
}

.projects-menu-list {
    list-style: none;
    margin: 0 auto;
    width: 425px;
}

.projects-menu-list .button {
    float: left;
    background: url("/images/services/services-sprites.png");
    background-position: 0px -87px;
    margin: 30px 20px 0 0;
    height: 29px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.projects-menu-list .button:hover {
    float: left;
    background: url("/images/services/services-sprites.png");
    background-position: 0px 58px;
}

.projects-menu-list .button.active {
    background: url("/images/services/services-sprites.png");
    background-position: 1px 29px;
}
.projects-menu-list .button.active:hover {
    background-position: 1px 29px;
}


.projects-menu-list .button a {
    color: #fff;
    display: block;
    text-decoration: none;
    margin: 0px 10px 0 10px;
    font-family: Calibri;
    font-size: 20px;
    outline: none
}

.horizontal-line-container {
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    float: left;
}

.horizontal-line-container hr {
    height: 0.5px;
    width: 70%;
    margin-top: 20px;
    background: #5E5E5E;
}

/*Sliders*/

.main-slider {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.project-list-page {
    padding: 0;
    float: left;
    list-style: none;
}

.slide-page {
    float: left;
    margin: 0 10px 0 10px;
    width: 1004px;
    height: 990px;
}

.project-list-element {
    float: left;
    list-style: none;
    margin: 15px 32px 15px 32px;
}
.slidesContainer {
    margin-left: 16px;
}

.slidesPagination {
    list-style: none;
}

.slidesPagination  li {
    float: left;
}

.slidesPrevious {
    background: url("/images/projects/sliders-sprite.png");
    background-position: 0 -191px;
    position: absolute;
    height: 94px;
    width: 94px;
    left: 10px;
    top: 780px;
    outline: none;
}

.slidesNext {
    background: url("/images/projects/sliders-sprite.png");
    background-position: 0 215px;
    position: absolute;
    height: 94px;
    width: 94px;
    right: 10px;
    top: 780px;
    outline: none;
}

.slidesPrevious:hover {
    background-position: 0 0px;
}

.slidesNext:hover {
    background-position: 0 118px;
}

.slidesPagination {
    margin: 0 auto;
    width: 95px;
}

.slidesPagination li {
    margin: 5px 7px 25px 0;
}

.slidesPagination li a {
    background: url("/images/projects/sliders-sprite.png");
    background-position: -19px 17px;
    width: 15px;
    height: 15px;
    display: block;
    outline: none;
}

.project-link {
    text-decoration: none;
    background: rgba(157, 239, 255, 0);
    opacity: 0;
    float: left;
    position: relative;
    top: -265px;
    left: 0;
    width: 260px;
    height: 260px;
    display: block;
}

.project-link span {
    font-family: Calibri;
    position: relative;
    background: #FFB800;
    color: #FFF;
    padding: 0px 10px 4px 10px;
    top: 125px;
}

.project-link:hover {
    background: rgba(157, 239, 255, 0.75);
    opacity: 1;
}

.slidesPagination .slidesCurrent a {
    background-position:   -1px 17px;
}

.sliderButtonPrevious {
    background-position: -1px -97px;
}

.sliderButtonNext {
    background-position: -1px 310px;
}

.sliderButtonPrevious:hover {
    background-position: -1px -97px;
}

.sliderButtonNext:hover {
    background-position: -1px 310px;
}

.project-shadow {
    background-color: rgba(255, 255, 255, 0);
    float: left;
    width: 260px;
    height: 260px;
    border-radius: 130px;
    box-shadow: 0px 1px 32px 2px rgba(75, 75, 75, 0.93);
}

/*********************Show project***********************/

.show-project-title {
    font-weight: bold;
    font-family: Bariol;
    font-size: 36px;
    margin: 40px 0;
}

.show-project-photo {
    max-width: 800px;
    border-radius: 6px;
}

.show-project-description-static {
    text-align: left;
    float: left;
    font-weight: bold;
    font-family: Bariol;
    font-size: 36px;
    margin: 70px 0px 40px 50px;
    width: 90%;
}

.show-project-description {
    width: 92%;
    padding: 0 40px 0 50px;
    margin: 0;
    font-family: Bariol;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
    /*margin: 0 40px 40px 40px;*/
    float: left;
}

.show-project-description p {
    line-height: 24px;
}

.link-to-container {
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
}

.link-to-container a {
    outline:none;
}

/********404********************/

.container-404 {
    margin: 100px 100px;
    width: 80%;
    float: left;
    border-radius: 20px;
    -moz-box-shadow:0px 0px 10px 1px #393939;
    -webkit-box-shadow:0px 0px 10px 1px #393939;
    box-shadow:0px 0px 10px 1px #393939;
    text-align: center;
}

.container-404 img {
    margin: 40px;
    float: left;
    max-height: 300px;
}

.head-404 {
    font-family: Bariol;
    font-size: 32px;
    width: 65%;
    margin: 80px 0 0 0;
    float: left;
}
.tollden {
    float: left;
    width: 535px;
    color: #FFF;
    font-family: Bariol;
}

.start-over {
    margin-top: 30px;
    float: left;
    font-family: Bariol;
    font-size: 18px;
    width: 65%;
}

.start-over a {
    color: #4ab6d2;
}

/**************about*********************/

.about-container {
    float: left;
    width: 100%;
}

.main-about-container {
    float: left;
    border-top: 1px solid #E9E2E4;
    border-bottom: 1px solid #E9E2E4;
    background: #E9E2E4;
    width: 100%;
}

.about-left-container {
    float: left;
    min-width: 600px;
    max-width: 750px;
}

.about-right-container {
    float: right;
}

.top-image {
    background: url("/images/about/inov-jelvix.png");
    background-repeat: no-repeat;
    float: left;
    margin: 0 20px;
    width: 730px;
    height: 296px;
}

.top-image .text {
    float: left;
    margin: 20px 25px;
    color: #FFF;
    font-family: Bariol;
    text-align: justify;
    font-size: 32px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .top-image .text {
        float: left;
        margin: 20px 25px;
        color: #FFF;
        font-family: Bariol;
        text-align: justify;
        font-size: 32px;
    }
}

.about-left-container .content-container {
    float: left;
    margin: 20px 0;
    border-right: 2px groove #fff;
}

.about-header {
    max-width: 750px;
    width: 50px;
    float: left;
    width: 100%;
    margin: 20px 0;
    background: #e6d5c1;
}

.about-header .text {
    float: left;
    color: #726863;
    margin: 10px 0 5px 20px;
    text-align: left;
    font-size: 32px;
    font-family: Calibri;
}

.header-decorator {
    position: relative;
    width: 20px;
    left: -20px;
    top: 10px;
    height: 60px;
    background: #E6D5C1;
    z-index: -1;
}

.presents-list {
    float: left;
    margin: 10px 0 10px 0;
}

.presents-list .element {
    text-align: left;
    font-family: Calibri;
    font-size: 20px;
    float: left;
    width: 610px;
}

.presents-list img {
    float: left;
    margin-left: 40px;
}

.presents-list .one {
    margin: 55px 0px 0px -40px;
}

.presents-list .two {
    margin: 30px 0px 0px -40px;
}

.presents-list .three {
    margin: 30px 0px 0px -40px;
}

.presents-list .four {
    margin: 15px 0px 0px -40px;
}

.presents-list .five {
    margin: 20px 0px 0px -40px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .presents-list .one {
        margin: 55px 0px 0px -40px;
    }

    .presents-list .two {
        margin: 27px 0px 0px -40px;
    }

    .presents-list .three {
        margin: 29px 0px 0px -40px;
    }

    .presents-list .four {
        margin: 11px 0px 0px -40px;
    }

    .presents-list .five {
        margin: 30px 0px 0px -40px;
    }
}

.about-header2 {
    max-width: 750px;
    width: 50px;
    float: left;
    width: 100%;
    margin: 20px 0 40px 0;
    background: #e6d5c1;
}

.about-header2 .text {
    float: left;
    color: #726863;
    margin: 10px 0 5px 20px;
    text-align: left;
    font-size: 28px;
    line-height: 28px;
    font-family: Calibri;
}

.about-header2 .header-decorator {
    position: relative;
    width: 20px;
    left: -20px;
    top: 10px;
    height: 100px;
    background: #E6D5C1;
    z-index: -1;
}

.our-team {
    margin-top: 50px;
}

.our-team .left-header-line {
    float: left;
    margin: 15px 0 0 40px;
}

.our-team span {
    font-family: Bariol;
    font-size: 40px;
}

.our-team .right-header-line {
    float: right;
    margin: 15px 40px 0 0;
}

.team {
    float: left;
    padding: 0;
    list-style: none;
}

.team-element {
    float: left;
    margin-left: 13px;
}

.cooperations-models {
    list-style: none;
    padding: 0;
    float: right;
    width: 245px;
}

.cooperations-models .top-decorator {
    width: 240px;
    height: 45px;
    background: url('/images/about/coop-decor.png');
}

.cooperations-models .bottom-decorator {
    float: left;
    width: 240px;
    height: 45px;
    background: url('/images/about/coop-decor.png');
    background-position: 1px 45px;
}
.cm {
    font-family: Calibri;
    font-size: 22px;
    margin-right: 10px;
}

.model-element {
    float: left;
    margin: 15px 0 0px 15px;
    width: 210px;
    border-bottom: 2px dotted #000000;

}

.model-element:nth-last-child(2) {
    border-bottom: 0px;
}

.model-element .coop-header {
    float: left;
    width: 100%;
    padding-top: 5px;
    margin: 0px 7px 15px 0px;
    line-height: 10px;
    padding: 7px 0 8px 0;
    font-family: Calibri;
    font-size: 15px;
    background: #76E5C1;
    font-weight: bold;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .model-element .coop-header {
        font-size: 16px;
    }
}

.dedicated-team {
    margin: 0px 0px -2px 8px;
    height: 14px;
    float: left;
    border-bottom: 1px solid black;
}

.time-materials {
    margin: 0px 0px -2px 40px;
    height: 14px;
    float: left;
    border-bottom: 1px solid black;
}

.fixed-budget {
    margin: 0px 0px -2px 58px;
    height: 14px;
    float: left;
    border-bottom: 1px solid black;
}

.model-element .coop-content {
    color: #2E2E2E;
    float: left;
    text-align: justify;
    font-family: Calibri;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 7px;
}

.last-five-news-container {
    position: relative;
    top: -14px;
    width: 233px;
    height: 340px;
    background: #FFF;
    border: 1px solid #989495;
}

.last-five-news-container .arrow-top {
    width: 0;
    height: 0;
    position: relative;
    left: 58px;
    top: -30px;
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 40px solid #FFF;
}

.five-news-list {
    position: relative;
    top: -45px;
    list-style: none;
    padding: 0;
}

.small-news-element {
    overflow: hidden;
    margin: 0px 10px 0px 10px;
    width: 212px;
    height: 63px;
    background: #F5F6F7;
    border-bottom: 1px solid #DFE5EB;
}

.small-news-element:hover {
    background: #E2EAFD;
}

.small-news-element:last-child {
    border-bottom: 0px;
}

.small-news-element a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: left;
    font-family: Calibri;
    font-size: 18px;
    padding: 5px;
}

.last-five-news-shadow {
    margin-bottom: 35px;
    width: 235px;
    height: 320px;
    border-radius: 130px;
    box-shadow: 0px 1px 15px 2px rgba(75, 75, 75, 0.93);
}

/*****************main*********************/

.main-page-container {

}

.main-page-container .top-container {
    float: left;
    background: #FFF;
    width: 100%;
}

.main-page-container .bottom-container {
    position: relative;
    top: -16px;
    width: 100%;
    float: left;
}

.success-main .left-header-line {
    float: left;
    margin: 15px 0 0 40px;
}

.success-main span {
    font-family: Bariol;
    font-size: 34px;
}

.success-main .right-header-line {
    float: right;
    margin: 15px 40px 0 0;
}

.main-image img {
    margin-bottom: 40px;
}

.bottom-main-container {
    padding-top: 15px;
    float: left;
    width: 100%;
    background: #E9E2E4;
}

.main-bottom-header {
    float: left;
    width: 100%;
    margin: 20px 0;
    background: #E6D5C1;
}

.main-bottom-header .text {
    float: left;
    color: #726863;
    margin: 7px 0 5px 0px;
    text-align: center;
    font-size: 32px;
    font-family: Calibri;
    width: 100%;
}

.to-stories {
    color: #fff;
    text-decoration: none;
}

.to-stories:hover {
    color: #91C5DA;
    text-decoration: wavy;
}


.main-page-container .header-decorator {
    position: relative;
    width: 20px;
    left: -20px;
    top: 10px;
    height: 60px;
    background: #E6D5C1;
    z-index: -1;
}

.recent-projects-container {
    float: left;
    width: 100%;
}

.recent-projects-list {
    list-style: none;
    padding: 0;
}

.project-element {
    margin: 0 0 20px 40px;
    width: 300px;
    float: left;
}

.project-element .project {
    float: left;
}

.review-container {
    margin: 0px 0 0 0;
    float: left;
}

.review-text-container {
    background: #FFF;
    float: left;
    width: 260px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 12px 0px;
}

.review-text-container:hover {
    position: relative;
    background: #91c5da;
    z-index: 100;
    color: #fff;
    cursor: pointer;
}

.review-text-container:hover .review-decorator {
    background: #ff0000;
}

.review-decorator {
    position: relative;
    top: -20px;
    left: 40px;
    float: left;
    background: url('/images/circles.png');
    background-repeat: no-repeat;
    margin-right: 50%;
    width: 13%;
    height: 32px;
}

.review-decorator.hover {
    background-position: -39px 0px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .review-decorator {
        position: relative;
        top: -20px;
        left: 40px;
        float:left;
        background: url('/images/circles.png');
        background-repeat: no-repeat;
        margin-right: 50%;
        width: 13%;
        height: 32px;
    }
}

.review-text-container .text {
    padding: 10px 10px 10px 10px;
    font-family: Calibri;
}

.user-info-container {
    top: -10px;
    position: relative;
    text-align: left;
    float: left;
    width: 100%;
}

.user-info-container img {
    margin-right: 15px;
    border: 3px solid #FFF;
    float: left;
    /*width: 36px;*/
    height: 36px;
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

.user-info-container .user-name {
    font-family: Calibri;
}

.user-info-container .project-name a {
    font-family: Calibri;
    text-decoration: none;
    color: #377EE9;
}

/***********Contacts**********************/

.contacts-main-container {
    float: left;
    width: 100%;
}

.contacts-container {
    float: left;
    width: 100%;
    height: 800px;
    background: #E9E2E4;
}

.contacts-left-container {
    float: left;
    border-right: 2px groove #fff;
    margin: 20px 0 0 30px;
    width: 740px;
    height: 750px;
}

.contacts-header {
    width: 100%;
    text-align: left;
    font-family: Calibri;
    color: #3C81EA;
    font-size: 42px;
}

.contacts-header-text {
    width: 100%;
    text-align: left;
    font-family: Calibri;
    font-size: 22px;
}

.contacts-form-container {
    float: left;
    width: 600px;
    height: 500px;
    margin-top: 40px;
    background: #e4f5fc;
    background: -moz-linear-gradient(top,  #e4f5fc 0%, #9fb9e7 0%, #e9e2e4 81%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(0%,#9fb9e7), color-stop(81%,#e9e2e4));
    background: -webkit-linear-gradient(top,  #e4f5fc 0%,#9fb9e7 0%,#e9e2e4 81%);
    background: -o-linear-gradient(top,  #e4f5fc 0%,#9fb9e7 0%,#e9e2e4 81%);
    background: -ms-linear-gradient(top,  #e4f5fc 0%,#9fb9e7 0%,#e9e2e4 81%);
    background: linear-gradient(to bottom,  #e4f5fc 0%,#9fb9e7 0%,#e9e2e4 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#e9e2e4',GradientType=0 );
}

.contacts-form-container label {
    font-family: Calibri;
    font-size: 18px;
    margin-top: 15px;
    float: left;
    width: 100%;
    text-align: left;
}

.contacts-right-container {
    float: right;
    width: 250px;
    margin-top: 20px;
}

.contact-input {
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    color: #000;
    outline: none;
    float: left;
    border: solid 1px #999;
    width: 230px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 15px;
    border-radius: 10px;
    -moz-box-shadow: inset 2px 2px 2px 0px #9C9C9C;
    -webkit-box-shadow: inset 2px 2px 2px 0px #9C9C9C;
    box-shadow: inset 2px 2px 2px 0px #9C9C9C;
    clear: right;
}

.contact-input:focus {
    border: 3px solid #64dcb8;
    position: relative;
    right: 2px;
}

.contacts-form-container form {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.contacts-form-container textarea {
    height: 100px;
    width: 350px;
}

.button-container {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.submit-button {
    cursor: pointer;
    float: left;
    color: #FFF;
    font-family: Calibri;
    font-size: 29px;
    background: url('/images/contacts/submit-button.png');
    border: 0;
    background-repeat: no-repeat;
    width: 164px;
    height: 56px;
}

.submit-button:hover {
    background: url('/images/contacts/submit-button.png');
    background-position: 0px -58px;
    background-repeat: no-repeat;
}

.main-list {
    list-style: none;
    padding: 0;
}

.contacts-right-container .right-header {
    font-family: Calibri;
    font-size: 30px;
    line-height: 28px;
}

.contact-box {
    margin: 20px 0 0 14px;
    border: 1px solid #C4C4C4;
    background: url('/images/contacts/address-background.png');
    background-repeat: no-repeat;
    float: left;
    width: 218px;
    height: 216px;
}

.entity-contact {
    padding: 15px 15px 0px 15px;
    line-height: 24px;
    text-align: left;
    font-family: Calibri;
    list-style: none;
    float: left;
    width: 100%;
}

.entity-head {
    font-size: 28px;
    border-bottom: 2px solid #C0C0C0;
    width: 185px;
}

.entity-address {
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
}

.entity-decorator {
    text-align: center;
    color: #969696;
    font-size: 48px;
    height: 5px;
    width: 185px;
    line-height: 1px;
}

.entity-contact .text {
    font-style: italic;
    margin-left: 10px;
    margin-top: 3px;
    float: left;
    width: 160px;
}

.error_list {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    color: #F00;
}

/*************stories***************/

.stories-main-container {
    float: left;
    width: 100%;
}

.stories-container {
    float: left;
    width: 100%;
    background: #E9E2E4;
}

.stories-slider-container {
    margin: 0 auto;
    width: 980px;
}

.stories-slider {
    padding: 0;
    list-style: none;
}

.stories-slide {
    float: left;
    width: 980px;
}

.hr {
    margin: 0 auto;
    border-top: 1px solid #5d5a5b;
    border-bottom: 2px solid #fff;
    width: 970px;
}

.stories {
    float: left;
    padding: 0;
    list-style: none;
    width: 400px;
}

.stories-item {
    float: left;
    width: 400px;
    margin: 10px 0 20px 30px;
}

.stories-text-container {
    float: left;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    width: 400px;
    padding: 25px;
    font-family: Bariol;
    text-align: left;
}

.stories-text-container .text {
    margin-left: 10px;
    margin-right: 10px;
    font-style: italic;
    float: left;
    text-align: justify;
}

.stories-text-container .author {
    float: left;
    width: 100%;
    margin-top: 13px;
    margin-left: 10px;
    color: #6ac3f7;
    font-size: 16px;
}

.stories-text-container .position {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 12px;
}
.circles-decorator {
    float: left;
    background: url('/images/stories/stories-circles-background.png');
    background-repeat: no-repeat;
    height: 85px;
    width: 65px;
}

.stories-container .author-photo {
    max-width: 152px;
    max-height: 108px;
    float: left;
    border: 3px solid #fff;
    margin: 25px 15px 0px 30px;
    -webkit-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 12px rgba(50, 50, 50, 0.75);
}

.quotes {
    margin-left: 4px;
    font-family: Bariol;
    font-size: 40px;
    line-height: 1px;
}

.quotes.bottom {
    position: relative;
    top: 2px;
}

.quotes.top {
    margin: 11px 5px 0px -21px;
    float: left;
}

.stories-right {
    float: left;
    padding: 0;
    margin-left: 110px;
    list-style: none;
    width: 400px;
}

.stories-right .circles-decorator {
    float: left;
    margin-left: 130px;
    background: url('/images/stories/stories-circles-right-background.png');
    background-repeat: no-repeat;
    height: 85px;
    width: 65px;
}

.stories-right .author-photo {
    margin: 25px 15px 0px 15px;
}

.privacy {
    color: #ffffff;
    text-decoration: none;
}

.privacy:hover {
    text-shadow: 0px 0px 16px #fff;
}

.privacy-policy {
    float: left;
    background: #E9E2E4;
    width: 100%;
}

.pp-text {
    padding-bottom: 30px;
    width: 800px;
    margin: 0 auto;
}

.privacy-header {
    font-family: Calibri;

}

.pp-text .text {
    font-size: 18px;
    text-align: left;
    font-family: Calibri;
}

.pp-text  .list {
    text-align: left;
    font-family: Calibri;
    font-size: 18px;
}

/************************************/
.active.footer-item a{
    color: rgb(66, 158, 243);
}
.notice {
    padding-top: 16px;
    text-align: left;
    font-size: 18px;
    font-family: Calibri;
    color: rgb(26, 162, 0);
}