body {
    background: url("/images/main-background.png") no-repeat;
    padding: 30px 5px;

}
.wrap {
    margin: 0 auto;
    min-width: 900px;
    max-width: 1024px;
}

.container {
    margin: 0 auto;
    background: url("/images/background-main-container.png");
    width: 100%;
    float: left;
    border-radius: 20px;
    -moz-box-shadow:0px 0px 20px 1px #393939;
    -webkit-box-shadow:0px 0px 20px 1px #393939;
    box-shadow:0px 0px 20px 1px #393939;
}
.main-logo {
    background: url("/images/main-logo.png") no-repeat;
    margin: 38px 0 0 12px;
    float: left;
    width: 170px;
    height: 50px;

}
.logo-vertical-line {
    float: left;
    border-left: 2px solid #a5998b;
    margin: 32px 0 0 41px;
    height: 62px;
}
.it-solutions {
    float: left;
    margin: 40px 0 0 40px;
    color: white;
    font-family: Patrick-Hand;
    font-style: italic;
    font-size: 38px;
}

.header-request-container {
    float: right;
    margin: 10px 25px 0 0;
    width: 210px;
    height: 105px;

}

.request-phone-conteiner {
    background: url("/images/phone-request.png") no-repeat;
    height: 40px;
    float: left;
    color: #fff;
    font-size: 21px;
    padding: 10px 0 0 55px;
}

.request-button-container {
    
}
.request-button {
    background: url("/images/request-button-background.png") repeat-x;
    float: left;
    color: white;
    width: 205px;
    height: 50px;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

.request-button:hover {
    background: url("/images/request-button-background-hover.png") repeat-x;
}

.request-button span {
    float: left;
    margin-top: 15px;
    font-size: 20px;
    font-family: Calibri, Arial;
}

.request-button-image {
    float: left;
    margin: 10px;
}

.header-menu-container {
    background: url("/images/background-head-menu.png");
    float: left;
    width: 100%;
    height: 52px;
    margin: 15px 0 0 0;
}

.header-menu-list {
    margin: 10px;
    float: right;
    list-style: none;
}

.header-menu-list-element {
    float: left;
}

.header-menu-list-element a {
    display: block;
    text-decoration: none;
    color: white;
    outline: none;
    font-family: Caviar-Dreams;
    font-size: 25px;
    padding: 0 5px 0 5px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.header-menu-list-element a:active {
    background: red;
}

.header-menu-list-element a:hover {
    background: #76e5c1;
}
/*************************************************************/

.content {
    /*height: 500px; */
    width: 100%;
    float: left;
    margin: 25px 0 12px 0;
}

.news-container {
    float: left;
    width: 100%;
}

.top-teeth-border-decorator {
    background: url("/images/top-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.bottom-teeth-border-decorator {
    background: url("/images/bottom-teeth-border-decorator.png") repeat-x;
    float: left;
    height: 11px;
    width: 100%;
}

.news-list-container {
    float: left;
    background: url("/images/news-background.png");
    width: 100%;
}
.latest-news {
    margin-top: 50px;
}

.left-header-line {
    float: left;
    margin: 30px 0 0 40px;
}

.latest-news span {
    font-family: Bariol;
    font-size: 65px;
}

.right-header-line {
    float: right;
    margin: 30px 40px 0 0;
}

.news {
    float: left;
    margin: 65px 87px 0 87px;
}

.news h1 {
    margin: 0 0 10px 0;
}

.news h1 a {
    text-decoration: none;
    font-size: 30px;
    color: #3a81e9;
    font-family: Bariol;
}
.news h1 a:hover {
    color: #78dfbe;
}

.news .news-logo {
    margin-right: 50px;
    max-width: 277px;
    max-height: 183;
    float: left;
    border: 5px solid #76E5C1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.news p {
    margin: 0;
    text-align: justify;
    font-family: bariol;
    font-size: 28px;
}

.news-create-date {
    float: right;
    text-align: right;
    color: #909090;
    font-size: 22px;
    font-family: Bariol;
    width: 100%;
}

/*******pagination********/
.pagination-container {
    margin: 0 auto;
    width: 380px;
}

.pagination-container .pagination {
    margin: 10px 0px 50px 0px;
    float: left;
}
.prev-pagination {
    background: url("/images/pagination-button.png") no-repeat scroll 0 0 transparent;
    color: white;
    margin-right: 5px;
    display: block;
    float: left;
    font-size: 22px;
    height: 40px;
    text-decoration: none;
    width: 80px;
}
.active-page {
    margin: 0 5px 0 5px;
    float: left;
    display: block;
    background-image: url("/images/pagination-button.png");
    background-position: 129px 0;
    font-size: 20px;
    font-family: Bariol;
    color: white;
    text-decoration: none;
    width: 42px;
    height: 42px;
}

.not-active-page {
    margin: 0 5px 0 5px;
    float: left;
    display: block;
    background-image: url("/images/pagination-button.png");
    background-position: 129px 0;
    font-size: 20px;
    font-family: Bariol;
    color: white;
    text-decoration: none;
    width: 42px;
    height: 42px;
}
.pagination-text-decorator {
    margin-top: 11px;
}

.next-pagination {
    background: url("/images/pagination-button.png") no-repeat scroll -122px 0 transparent;
    color: white;
    margin-left: 5px;
    display: block;
    float: left;
    font-size: 22px;
    height: 40px;
    text-decoration: none;
    width: 82px;
}

.next-pagination .pagination-text-decorator {
    margin-top: 7px;
}

.prev-pagination .pagination-text-decorator {
    margin: 7px 0 0 7px;
}

.footer {
    float: left;
    width: 100%;
    height: 200px;
}

.footer-list-container {
    float: left;
}

.footer-list {
    float: left;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 20px;
}

.footer-list li {
    color: #fff;
    font-family: Caviar-Dreams;
    font-size: 22px;
}